.app {
    text-align: center;
}

button, .picker, .dimensions {
    display: inline-block;
    vertical-align: top;
    margin: 20px 5px;
    padding: 0 15px;

    height: 90px;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px, rgba(0, 0, 0, 0.16) 0px 2px 5px;
    border-radius: 2px;
    background: rgb(255, 255, 255);

    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background: #2C3E50;
}

button.disabled {
    background: #D5D8DC;
    color: #808B96;
}

.picker {
    padding: 0;
}

button, .dimensions, .mini-button-group {
    height: 89px;
    display: inline-block;
    vertical-align: top;
    margin: 20px 5px;
}

button, a {
    background: #D6EAF8;
    color: #2471A3;
}


.mini-button {
    height: 21px;
    min-width: 120px;
    padding: 0 20px;
    margin: 0 0 1px 0;
    background: #FAE5D3;
    color: #CA6F1E;
}

.dimension {
    height: 16px;
    display: block;
    margin: 15px;
    position: relative;
}

.dimension-label {
    display: inline-block;
    margin-right: 10px;
}

.dimension-input {
    width: 40px;
    border: 1px solid #D3D3D3;
    padding: 0 3px;
}

.image {
    display: block;
    margin: auto;
}

.pixel {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid #D3D3D3;
    margin: -2px 0.5px;
    padding: 0;
}

.hover {
    animation: darken 2s;
}

@keyframes darken {
    from { filter: brightness(80%); }
    to { filter: brightness(100%); }
}

#load {
    border: 16px solid #fff;
    border-radius: 50%;
    border-top: 16px solid #2471A3;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    pointer-events: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tooltip {
    background-color: #9f0500;
    color: #fff;
    text-align: center;
    padding: 1px 10px;
    border-radius: 6px;
    font-size: 10px;
    position: absolute;
    z-index: 1;
    top: -1px;
    left: 75px;
    width: 150px;
}

.wrong-entry {
    border: 1px solid #9f0500;
}

a {
    background-color: transparent;
    height: inherit;
    width: inherit;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
}